.marcoAnim3{
    width: 100%;
    height: 350px;
    position: relative;
}

.imgN, .imgX, .textoSimple3, .cuadrado3{
    height: 100px;
    width: auto;
}

.imgN{
    position: absolute;
    top: 50%;
    left: calc(50% - 18px);
    transform: translate(-50%, -50%);
}
.imgX{
    position: absolute;
    top: 50%;
    left: calc(50% + 18px);
    transform: translate(-50%, -50%);
}
.textoSimple3{
    opacity: 0;
    position: absolute;
    top: calc(50% + 110px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.cuadrado3{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animateN{
    animation: animation3N 1.2s linear;
    animation-fill-mode: forwards;
}
.animateX{
    animation: animation3X 1.2s linear;
    animation-fill-mode: forwards;
}
.animateTxtSmpl{
    animation: animationTextSimple .5s linear;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animation3N {
    0%{top: 50%}
    20%{top: calc(50% + 110px)}
    40%{top: calc(50% + 110px); left: calc(50% - 18px)}
    60%{top: calc(50% + 110px); left: calc(50% - 85px)}
    80%{top: calc(50% + 110px); left: calc(50% - 85px); opacity: 1}
    100%{top: calc(50% + 110px); left: calc(50% - 85px); opacity: 0}
}
@keyframes animation3X {
    0%{top: 50%}
    20%{top: calc(50% + 110px)}
    40%{top: calc(50% + 110px); left: calc(50% + 18px)}
    60%{top: calc(50% + 110px); left: calc(50% + 84px)}
    80%{top: calc(50% + 110px); left: calc(50% + 84px); opacity: 1}
    100%{top: calc(50% + 110px); left: calc(50% + 84px); opacity: 0}
}
@keyframes animationTextSimple {
    from {opacity: 0}
    to {opacity: 1}
}